@import "tailwindcss";

:root {
  --background: #181717;
  --foreground: #F4EFE7;
  --primary: #F4EFE7;
  --secondary: #B1A696;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-host-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181717;
    --foreground: #F4EFE7;
    --primary: #F4EFE7;
    --secondary: #B1A696;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Host Grotesk", sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 6.5rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 0.9rem;
}

.hero h4 {
  font-weight: 500;
  line-height: 2.6rem;
}

.hero .title_author {
  font-size: 2.2rem;
}

.hero .description {
  font-weight: 500;
  line-height: 1.5rem;
}

.hero h5 {
  font-weight: 600;
}

.hero h1 {
  font-weight: 600;
}

.about_the_experience h4 {
  font-size: 2.3rem;
}